# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Secrets
# IMPORTANT: We added our specific .env file here
.env

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Other
.DS_Store